@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}